<plugin name='liferay-exploded' version='0.7' grailsVersion='1.1 &gt; *'>
  <author>Brian McGinnis</author>
  <authorEmail>brian_mcginnis@diva-america.com</authorEmail>
  <title>Plugin that creates fast, temporary deployment artifacts for Liferay.</title>
  <description>\
This plugin generates Liferay-specific artifacts for exploded war deployment.
</description>
  <documentation>http://grails.org/plugin/liferay-exploded</documentation>
  <resources>
    <resource>BootStrap</resource>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>UrlMappings</resource>
  </resources>
  <dependencies>
    <plugin name='portlets' version='0.3 &gt; *' />
    <plugin name='portletsLiferay' version='0.1 &gt; *' />
  </dependencies>
</plugin>